
<div class="top_line blue">
  <div class="top_line_row">
    <% 16.times do %> <%= render 'top_line_text' %><% end %>
  </div>

</div>
<%= link_to 'events', new_event_path %>
<%= render 'footer' %>
<div class="container">
     <div class="row">
       <!-- <p id="r1">The Portrait of Cardinal Niccolò Albergati is an oil-on-oak-panel painting by the Early Netherlandish painter Jan van Eyck, dating to the 1430s. It is of considerable interest to art historians because van Eyck's preliminary drawing survives.</p> -->
       <!-- <p id="r2">The Portrait of Cardinal Niccolò Albergati is an oil-on-oak-panel painting by the Early Netherlandish painter Jan van Eyck, dating to the 1430s. It is of considerable interest to art historians because van Eyck's preliminary drawing survives.</p> -->
       The Portrait of Cardinal Niccolò Albergati is an oil-on-oak-panel painting by the Early Netherlandish painter Jan van Eyck, dating to the 1430s. It is of considerable interest to art historians because van Eyck's preliminary drawing survives.
     </div>
   </div>
