<div class="top_line rose">
  <div class="top_line_row">
    <% 16.times do %> <%= render 'top_line_text' %><% end %>
  </div>
</div>
<div class="first_block">
  <div class="first_section">
    <h1 class="first_section__title">Медиа-сервис «Шмот»</h1>
    <p class="first_section__subtitle">Объединение актуальной информации о секондах и свопах в твоём городе.<br>Выбирай магазин, ходи на мероприятия, органи-зуй свопы вместе с сервисом «Шмот».<br>Читай актуальные статьи о моде и смотри подбор-ки аутфитов из секондов.</p>
    <div class="first_section__learn-more"></div>
    <%= link_to 'назад', promo_index_path %>
  </div>
  <div class="second_section"></div>
  <div class="first_block__line"></div>
</div>
