<div class="top_line rose">
  <div class="top_line_row">
    <% 16.times do %> <%= render 'top_line_text' %><% end %>
  </div>
</div>
<div class="first_block">
  <div class="first_section">
    <h1 class="first_section__title">Медиа-сервис «Шмот»</h1>
    <p class="first_section__subtitle">Объединение актуальной информации о секондах и свопах в твоём городе.<br>Выбирай магазин, ходи на мероприятия, организуй свопы вместе с сервисом «Шмот». Читай актуальные статьи о моде и смотри подборки аутфитов из секондов.</p>
    <div class="first_section__learn-more"></div>
    <%= link_to "назад", promo_index_path , class: 'back_link'%>
  </div>
  <div class="second_section"></div>
</div>
<div class="first_block__line"></div>
<div class="second_block">
  <h2 class="second_block__title">Концепт</h2>
  <div class="second_block__b">
    <div class="second_block__pic1"></div>
    <p class="second_block__text">Онлайн площадка для поиска по-разным категориям секондов, свопов и мероприятий в твоём городе, связанных с модой. Платформа со статьями актуальных модных тенденций и подборками образов, составленных из секондов, представленных на сервисе.</p>
    <div class="second_block__pic2"></div>
    <div class="second_block__pic3"></div>
    <div class="second_block__pic4"></div>
    <div class="second_block__pic5"></div>
    <div class="second_block__pic6"></div>
    <div class="second_block__pic7"></div>
    <div class="second_block__pic8"></div>
  </div>
</div>
<div class="third_block">
  <div class="third_block__left">
    <h2 class="second_block__title">Исследования</h2>
    <p class="third_block__text">Мы провели 15 интервью с предполагаемыми пользователями нашего медиа-сервиса, а также создали онлайн-опрос, который прошли 83 человека. Благодаря полученным ответам, мы поняли, что многие не знают, что такое свопы, но при этом их интересует тема секондхендов. Поэтому было решено сделать акцент на поиск концептуальных секондхендов. Также узнали, что людям важно понимать, какие вещи представлены в секондах, отзывы посетителей.</p>
    <p class="third_block__text">Люди хотят макисмально упростить процесс поиска вещей, секондов и продажи одежды.</p>
  </div>
  <div class="third_block__right">
  </div>
</div>
<div class="fourth_block">
  <div class="fourth_block__left">
    <h2 class="second_block__title">Целевая аудитория</h2>
    <p class="fourth_block__text-big">Основная аудитория:</p>
    <p class="fourth_block__text">Молодые люди (преимущественно девушки) 16-28 лет<br>Любят моду, ищут интересные образы в instagram или pinterest<br>Придерживаются slow-fashion</p>
    <p class="fourth_block__text-big">Косвенная аудитория:</p>
    <p class="fourth_block__text">Владельцы секондхендов<br>Люди, которые хотят организовать своп.</p>
  </div>
  <div class="fourth_block__right">
    <div class="fourth_block__pic1"></div>
    <div class="fourth_block__pic2"></div>
  </div>
</div>
<div class="fifth_block">
  <h2 class="second_block__title">Метод</h2>
  <div class="fifth_block__pic"></div>
</div>
<div class="sixth_block">
  <h2 class="second_block__title">Функционал</h2>
  <div class="sixth_block__functional">
    <div class="sixth_block__text"></div>
    <div class="sixth_block__mocup"></div>
  </div>
</div>
