// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the promo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  box-sizing: border-box;
}
body{
  margin: 0;
}
.top_line {
  width: 100vw;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;

    &.blue{
      background-color: #000AFF;
      color: white;
    }
    &.rose{
      background-color: #F19FF9;
      color: black;
    }
}
.top_line_text{
  font-family: 'Damn',serif;
  font-size: 3em;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 30px;
  align-items: center;
}
.top_line_row{
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  vertical-align: middle;
  white-space: nowrap;
  animation: row 8s infinite linear;
}
@keyframes row {
      0% {right: 0;}
      100% {right: 1400px;}
    }

.first_block {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 900px;
}
.first_section__title {
  width: 173px;
  font-family: 'Damn',serif;
  font-size: 96px;
  font-weight: 500;
  color: black;
  line-height: 77.4%;
  margin-top: 69px;
  margin-left: 70px;
  box-sizing: border-box;
}
