
@font-face {
    font-family: 'Kharkiv-Tone';
    src: url('Kharkiv-Tone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


/* top line css */
.top_line {
  width: 100vw;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.top_line_text{
  font-size: 2em;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 30px;
  align-items: center;
  box-sizing: border-box;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
  color: #000000;

}
.top_line_row{
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  vertical-align: middle;
  white-space: nowrap;
  animation: row 8s infinite linear;
  box-sizing: border-box;

}
@keyframes row {
      0% {right: 0;}
      100% {right: 1400px;}
    }

    body{
      margin: 0;
    }

    .wrapper {
      background: transparent;
      position: relative;
      width: 100%;
    }
    .ratio {
      position: relative;
      padding-bottom: 443,89%;
      background: transparent;
    }
    .content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;
      background: transparent;
    }

    .header {
      background: #2B2B2B;
      color: #fff;
      width: 100%;
    }
