// Place all the styles related to the promo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  margin: 0;
}
.top_line {
  width: 100vw;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
    &.blue{
      background-color: #000AFF;
      color: white;
    }
    &.rose{
      background-color: #F19FF9;
      color: black;
    }
}
.top_line_text{
  font-family: 'Damn',serif;
  font-size: 3em;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 30px;
  align-items: center;
  box-sizing: border-box;

}
.top_line_row{
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  vertical-align: middle;
  white-space: nowrap;
  animation: row 8s infinite linear;
  box-sizing: border-box;

}
@keyframes row {
      0% {right: 0;}
      100% {right: 1400px;}
    }
.first{
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  height: 850px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid black;
  box-sizing: border-box;

}
.pic_cover{
  width: 50vw;
  height: 900px;
  // background-image: url("app/assets/images/promo_cover.jpg");
  background-image: url("/assets/promo_cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

}
.text_cover{
  width: 50vw;
  height: 900px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-content:space-between;

}
// .text_cover.link_box {
//   align-items:flex-end;
//   box-sizing: border-box;
//   vertical-align:bottom;
//   justify-content: flex-end;
// }
.h_1 {
  width: 80%;
  font-family: 'Damn',serif;
  font-size: 144px;
  font-weight: 500;
  color: black;
  line-height: 110px;
  margin-top: 50px;
  margin-left: 70px;
  box-sizing: border-box;
}
h2{
  width: 50vw;
  font-family: 'Damn',serif;
  font-size: 102px;
  font-weight: 500;
  color: black;
  line-height: 80px;
  margin-top: 50px;
  margin-left: 25px;
  box-sizing: border-box;

}
.promo_cover_descr{
  width: 70%;
  font-family: 'Gilroy-Regular',serif;
  font-size: 24px;
  font-weight: 500;
  color: black;
  line-height: 28px;
  margin-top: 20px;
  margin-left: 70px;
  box-sizing: border-box;

}
.link_box{
  width: 100%;
  height: 360px;
  margin-top: 50px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-self: flex-end;
  box-sizing: border-box;



}
// .link_box .links{
//   height: calc(50% / 4);
//   width: 100%;
//   border-radius: 100%;
// }
.link_box a{
  height: 90px;
  font-family: 'Gilroy',serif;
  font-size: 36px;
  font-weight: 600;
  color: black;
  line-height: 100px;
  text-align: center;
  // justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
  background-image: url("/assets/border.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: .4s;

}
.link_box a:hover {
  background-image: url("/assets/border_h.svg");
  background-color: white;
  transition: .2s;
  color: white;
}
.logo {
  width: 160px;
  height: 100px;
  background-image: url("logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 40px;
  left: 25px;
}
.second {
  width: 100vw;
  height: auto;
}
.images_box{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
 .circle, .square_1,.square_2 {
  width: calc((100vw - 50px)/3);
  height:475px;
  border: 1px black solid;
}
 .circle{
   border-radius: 100%;
 }
.pic {
  width: calc((100vw - 50px)/3);
  height: calc((100vw - 50px)/3);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  &.p_1{
  background-image:url("arc_1.png");}
  &.p_2{
  background-image:url("arc_2.png");}
  &.p_3{
  background-image:url("arc_3.png");}
}
.second_img{
  background-image:url("second.png");
  width: 1390px;
  height: 951px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.third{
  width: 100vw;
  height: auto;
  position: relative;
  margin-bottom: 70px;

}
.third h2 {
  text-align: center;
  width: calc((100vw - 80px)/3);
  margin: auto;
  margin-top: 140px;
  margin-bottom: 70px;
}




.count_box{
  width: 100vw;
  height: 775px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count{
  width: calc(100vw - 50px);
  height: 155px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  border-top: 1px black solid;
  justify-content: space-between;
}
.c{
  width: calc((100vw - 50px)/3);
  height: 155px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  &.c_1{background-image: url("n_1.svg");}
  &.c_2{background-image: url("n_2.svg");}
  &.c_3{background-image: url("n_3.svg");}
  &.c_4{background-image: url("n_4.svg");}
  &.c_5{background-image: url("n_5.svg");}
}
.count p{
  width: calc((100vw - 80px)/3);
  height: 155px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Gilroy',serif;
  font-size: 36px;
  font-weight: 500;
  color: black;
  line-height: normal;
  margin: 0;
}
.count_box:last-child {
  border-bottom: 1px black solid ;

}
.dec_img{
    width: 240px;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transition: .4s;

  &.i_1{
    background-image: url("dec_img_1.jpg");
    top: 250px;
    left: 45vw;
    transform: rotate(26deg);
  }
  &.i_2{
    background-image: url("dec_img_2.jpg");
    top: 500px;
    left: 45vw;
    transform: rotate(-19deg);
  }
  &.i_3{
    background-image: url("dec_img_3.jpg");
    top: 770px;
    left: 45vw;
    transform: rotate(26deg);
  }
}
.i_1:hover{
  top:200px;
  transform: rotate(36deg);
  transition: .4s;
}
.i_2:hover{
  top:550px;
  transform: rotate(26deg);
  transition: .4s;
}
.i_3:hover{
  top:700px;
  transform: rotate(36deg);
  transition: .4s;
}
