.hui {
  border: 1px solid #C4C4C4;
  font-family: 'Gilroy-Regular',serif;
  font-size: 24px;
  font-weight: 500;
  color: #C4C4C4;
  margin-left: 25px;
  padding: 11px;
  width: 442px;
  height: 42px;
}
.hui_content {
  height: 88px;
}
.form_create-shop {
  width: 406px;
  height: 83px;
  border: 1px solid black;
  background-color: inherit;
  font-family: 'Gilroy-Regular',serif;
  font-size: 24px;
  font-weight: 500;
  margin-left: 29px;
}
.form_create-shop:active {
  background-color: #FF00FF;
  border: none;
  color: white;
}
.section_shop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.imgg{
  width: 300px;
  height: 120px;
  display: flex;
  position: relative;
  margin-bottom: 100px;
}
